[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
python-dotenv = "*"
pillow = "*"
responses = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
